<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Css/main.css" />
    <title>Report</title>
</head>
<body>
    <div class="container_12">
        @RenderBody()
    </div>
    <div class="clear"/>
</body>
</html>
