<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.4.11" targetFramework="net461" />
  <package id="ControlzEx" version="4.0.0-alpha0189" targetFramework="net461" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="7.0.0-alpha0456" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net40" requireReinstallation="true" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net40" requireReinstallation="true" />
  <package id="MahApps.Metro" version="2.0.0-alpha0095" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0037" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.Modern" version="3.0.0-alpha0037" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite" version="2.2.0-preview2-35157" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.2.0-preview2-35157" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net40" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="ToastNotifications" version="2.5.0" targetFramework="net461" />
  <package id="ToastNotifications.Messages" version="2.5.0" targetFramework="net461" />
</packages>